.card{
    margin-bottom: $l;
    padding: $l;
    background: $gray-dark;
    color: $white;
    position: relative;
    box-shadow: 1px 1px 3px black;

	&.is-empty{
		text-align: center;
		justify-content: center;
	}
}