*, *:before, *:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
}
a{
	text-decoration: none;
}
body{
	line-height: 1;
}
ol, ul{
	list-style: none;
}

img{
	width: 100%;
	height: auto;
	border-radius: $borderradius;
}