@import "styles";
.menu{
    width: 100%;
    height: 100vh;
    background: $menu-background;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .is-open &{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }
    &-logo{
        flex: 0 0 auto;
        padding: $l $l 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;

        svg{
            height: 120px;
        }
        .platform{
            width: 6em;
            text-align: center;
            color: $white;
        }
    }
    &-platforms{
        .menu-item{
            border-right: 1px solid lighten($menu-background, 5%);

            &:last-child{
                border-right: none;
            }
        }
        .is-active{
            color: $accent;
            border-bottom: 2px solid $accent;
        }
    }
    &-center{
        flex: 1 0 0px;
    }

    &-bottom{
        flex: 0 0 auto;
        padding: $l 0 0;
        color: $white;
        text-align: center;
        align-items: center;
        line-height: 1.5;
        width: 100%;

        a{
            color: $accent;
        }
    }

    &-item{
        color: $white;
        display: block;
        padding: ($l*2) $l;
        cursor: pointer;
        border-bottom: 1px solid lighten($menu-background, 5%);
        transition: 100ms linear background;
        &:hover{
            background: lighten($menu-background, 5%);
        }
    }
    &-search{
        display: flex;
        margin: 2%;
        width: 96%;

        @include small{
            .search-input{
                > input{
                    padding: .5em ($l*7) .5em $l;
                }
                span{
                    width: $l*6;
                }
                label{
                    text-align: center;
                    line-height: 0.8;
                    height: auto;
                    margin: 0;
                }
            }
        }

        @include medium{
            display: none;
        }
    }
    &-platforms{
        display: flex;
        flex-direction: row;
        width: 100%;
        .menu-item{
            flex: 1;
            text-align: center;
        }
    }
    &-footer{
        display: flex;
        padding: $l 0;
        align-items: flex-start;
        border-top: 1px solid lighten($menu-background, 5%);
        a{
            height: 2em;
            line-height: 2em;
            margin: 0 $l;
        }
        .icon {
            width: 2em;
            height: 2em;
        }
        .menu-twitter{
            transform: scale(1.5);
        }
    }
    &-tweets{
        @include small{
            .tweet:not(:first-child) {
                display: none;
            }
        }
        @media screen and (max-height: 620px){
            display: none;
        }
    }
    .platform{
        margin-left: $l;
        font-size: 2em;
        font-weight: bold;
    }
}