@import "styles";

.tweet{
    text-align: left;
    // margin-top: $l*0.5;
    padding: ($l*0.5) 0;
    font-size: 0.8rem;
    // border-right: 3px solid $primary;
    border-top: 1px solid lighten($menu-background, 5%);

    @media screen and (min-width: 1024px){
        font-size: 1rem;
    }

    &-date{
        font-size: 0.8em;
        text-align: right;
        padding-right: $l;
    }
    &-text{
        font-size: 1em;
        padding: $l*0.5;
    }
}
