@import "styles";

.opstab{
    .opstab-controls{
        margin: $l;
        display: flex;
        p{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 $l;

            @include medium{
                flex-direction: row;
            }
        }
        label{
            margin: 0 $l 0 0;
            font-size: 0.9em;
        }
    }

    .operator-table{
        flex: 1;

        .fauxtable-cell{
            text-align: right;
        }
        .fauxtable-heading{
            cursor: pointer;
            user-select: none;

            &.is-active{
                color: $primary;
            }
        }
        .fauxtable-heading,
        .fauxtable-cell{
            padding: ($l*1.5) ($l*2);
        }
        .fauxtable-row{
            &:hover {
                background: $trans-low;
            }
        }
        .name{
            text-align: center;
        }

        @include medium{
            .fauxtable-cell,
            .fauxtable-heading{
                flex: 1 0 0;
            }
            .name{
                text-align: left;
                flex-grow: 4;
                cursor: pointer;
            }
            .won{
                text-align: right;
                flex-grow: 2;
            }
            .kpr{
                text-align: right;
                flex-grow: 2;
            }
            .survival{
                text-align: right;
                flex-grow: 2;
            }
            .lost{
                text-align: right;
                flex-grow: 2;
            }
            .wlr{
                text-align: right;
                flex-grow: 3;
            }
            .kills{
                text-align: right;
                flex-grow: 2;
            }
            .deaths{
                text-align: right;
                flex-grow: 2;
            }
            .kdr{
                text-align: right;
                flex-grow: 2;
            }
            .time{
                text-align: right;
                flex-grow: 2;
            }
        }
    }

    .operator-graphs {
        display: none;
    }
    @include medium {
        .operator-graphs {
            display: block;
        }
    }

    .chart-container .ct-series,
    .chart-container .indicator{
        &.opdaily { stroke: $black-ice; background-color: $black-ice; }
        &.opavg { stroke: $skull-rain; background-color: $skull-rain; }
        &.opavg .ct-point { stroke: none; }
    }
}