@import "styles";

.stat{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5*$l;

    &-label{
        color: $gray;
        margin-right: $l*0.5;
    }
    &-value{
        white-space: pre;
    }
}