@import "styles";

.playercard{
    background: $trans-med;
    box-shadow: 0 0 3px $trans-med;
    display: flex;
    flex-direction: row;
    margin-bottom: $l;

    &-image{
        width: $l*6;
        height: $l*6;
        flex: 0 0 auto;
        position: relative;
    }
    &-level{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $trans-med;
        color: $white;
        text-align: center;
        font-size: $font-small;
        padding: ($l*0.5) 0;
    }
    &-content{
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: stretch;
        padding: $l*0.5;

        @include medium{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: $l;
        }
    }
    &-left{
        flex: none;
        height: auto;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: $white;
        height: 100%;

        @include medium{
            flex: 0 0 16em;
        }

    }
    &-name{
        font-size: $font-big;
        flex: 0 0 auto;
    }
    &-flair{
        color: $gray;
        flex: 0 0 auto;
    }
    &-center{
        flex: 1 1 auto;
        margin: 0 $l;

        &-header{
            color: $gray;
            font-size: $font-small;
        }
    }
    &-aliases{
        display: none;

        @include medium{
            display: block;
        }

        .playercard-center-content li{
            display: inline-block;
            margin-right: $l;
        }

    }
    &-right{
        display: flex;
        flex: 0 0 auto;
        margin-top: $l*0.5;
        flex-direction: row;
        justify-content: space-between;
    }
    &-link{
        color: $accent;
            margin: 0 $l;
    }
}