@import "styles";

.search{
    max-width: 1024px;
    width: 100%;
    padding: 0 $l;
    margin: 0 auto;

    &-query{
        font-size: 3em;
        margin-bottom: $l;
        text-shadow: 0 0 1px $gray-dark;
    }
    &-results{
        width: 100%;

        *:first-child{
            margin-top: 0;
        }
    }
}
