@import "styles";

.module{
	width: 100%;
	margin-bottom: 2*$l;
	background: $trans-med;
	min-width: 300px;

	@include small {
		flex: 1 1 100%;
		max-width: none;
	}

	@include large {
		flex: 0 1 49%;
		max-width: 502px;
	}

	&.is-wide{
		max-width: 100%;
		flex: 1 1 100%;
	}
}
.module-header{
	font-weight: bold;
	font-size: 1.2em;
	padding: 1em;
	background: $trans-med;
	.subtle{
		color: $gray-light;
	}
}
.module-content{
	padding: ($l) (2*$l);
}
.module-row{
	display: flex;
	flex-direction: row;
	padding: $l 0;
}
.module-label{
	flex: 1 1 35%;
}
.module-value{
	flex: 1 1 65%;
	text-align: right;
}
