@import "styles";

.topbar{
	display: flex;
    width: 100%;
    height: $topbar-height;
    flex: 0 0 auto;
    background: $trans-med;

    &-menuspacer{
        flex: 0 0 60px;

        @include openmenu{
            display: none;
        }
    }
    &-content {
        flex: 1;
        display: flex;
    }
    .search-form{
        margin: 0;
        height: $topbar-height;
        width: 100%;
        max-width: 100%;
        background: none;
        box-shadow: none;

        input{
            height: $topbar-height;
        }
    }
}