@import "styles";

.is-detail .alias{
	padding: $l;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	flex: 1 0 200px;
	&:after{
		content: "";
		position: absolute;
		left: 50%;
		top: 40px;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 2px solid $white;
		background: $gray-dark;
		z-index: 1;
		transform: translate(-50%, -50%);
	}
	&:before{
		content: "";
		position: absolute;
		left: 50%;
		top: 40px;
		width: 100%;
		height: 2px;
		background: $white;
		transform: translate(-50%, -50%);
	}

	&:first-child{
		&:before{
			width: 50%;
			transform: translate(0, -50%);
		}
		&:after{
			background: $primary;
		}
	}
	&:last-child{
		&:before{
			background: linear-gradient(to right,$white,$white 50%, rgba(255, 255, 255, 0) 80%);
		}
	}
}
.is-detail .alias-name{
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	margin-top: 15px;
}
