@import "styles";

.profile{
    padding: 0 $l;
    display: flex;
    flex-direction: column;
    width: 100%;

    .tabs{
        flex: 1 1 auto;
    }
    .tab-content{
        display: flex;

        >*{
            flex: auto;
        }
    }

    &-module{
        background: $trans-med;
        margin: $l 0;

        &-header{
            padding: (0.5*$l) $l 0;
            font-size: 1.125em;

            &:first-child{
                padding-top: $l;
            }
        }
        &-content{
            padding: $l;
        }
        &-divider{
            width: 80%;
            height: 1px;
            background: lighten($gray-dark, 15%);
            margin: $l 10%;
        }
    }
}