@import "styles";

.idcard{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;

    &.profile-module{
        margin: 0;
        flex-direction: column;
        align-items: center;

        @include medium{
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &-image{
        height: $l*10;
        width: auto;
        img{
            height: 100%;
            width: auto;
        }
    }
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        .col{
            margin: $l $l 0;
            flex: none;
        }

        @include medium{
            flex-direction: row;

            .col{
                margin: $l;
                flex: 0 1 auto;
            }
        }
    }
    .col-names{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        >*{
            flex: none;
        }

        @include medium{
            font-size: 1.5em;
            text-align: left;
        }
    }
    &-name{
        font-size: 2em;
    }
    &-level{
        margin-top: $l*0.5;
    }
    &-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: $l 0 0;

        @include medium{
            justify-content: flex-end;
            a{
                text-align: right;
            }
        }


        a{
            color: $accent;
            display: block;
            line-height: 1.4;
            text-align: center;
            margin: 0 $l;
        }
    }
    .twitch-logo {
        width: 40px;
        height: 40px;
    }
    .twitch-link {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}