@import "styles";

.statstab{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
    width: 100%;

    @include large{
        flex-direction: row;
         &-sidebar{
             width: 35*$l;
         }
    }
    &-statarea{
        display: flex;
        flex-direction: column;
        flex: auto;

        @include medium{
            flex-direction: row;

            .statstab-center{
                width: 66%;
                flex: 1 1 auto;
            }
            .statstab-aside{
                width: 20*$l;
                flex: none;
                margin-left: $l;
            }
        }

        @include large{
            .statstab-center{
                margin-left: $l;
            }
        }
    }
}