
$black-ice: #2e93b3;
$dust-line: #d0a344;
$skull-rain: #47893b;
$red-crow: #bd1e2c;
$velvet-shell: #6e3c87;
$operation-health: #4a74a9;


$primary: $operation-health;
$accent: #ffdb00;
$link: #2d95cf;
$black: desaturate(darken($primary, 25%), 50%); //#030502;
$gray-dark: #2f302f;
$gray: lighten($gray-dark, 30%);
$gray-light: #eae8de;
$blue-dark: rgb(16, 26, 36);
$trans-high: rgba(16, 16, 16, 0.25);
$trans-med: rgba(16, 16, 16, 0.5);
$trans-low: rgba(16, 16, 16, 0.75);
$white: #fefefe;
$success: #17bebb;
$warn: #ffc914;
$danger: #e4562e;
$l: 10px;

$font-tiny: .5rem;
$font-smaller: .75rem;
$font-small: .9rem;
$font-default: 1rem;
$font-big: 1.125em;
$font-bigger: 1.25rem;
$font-large: 1.5rem;
$font-huge: 2.5rem;


$topbar-height: $l*6;
$nav-height: 32px;
$menu-width: 300px;
$menu-background: #272727;
$menu-height: $l*4;
$menuMaxWidth: 280px;
$menuMaxOpacity: 0.8;
$menu-hover-color: rgba(227, 214, 148, 1);

$screen-medium: 512px;
$screen-large: 768px;
$screen-yourmom: 1024px;
$screen-openmenu: $screen-yourmom + $menuMaxWidth;
$screen-absurd: 1600px;

$operator-multiplyer: 0.5;
$operator-size: 128px * $operator-multiplyer;

$borderradius: 1px;
$borderradius-rel: .4em;

$tdur: 200ms;


$loading-indicatorsize: 30px;