@import "styles";

.leaderboard{
    color: $white;
    max-width: $screen-yourmom;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &-header{
        padding: 0 1%;
    }
    &-title{
        font-size: 3em;
        margin-bottom: $l;
        text-shadow: 0 0 1px $gray-dark;
    }
    &-description{
        color: $gray-light;
        line-height: 1.4;
        text-shadow: 0 0 1px $gray-dark;

        p{
            margin-bottom: $l;
        }
        .is-highlight{
            padding-left: $l;
            border-left: 2px solid $accent;
        }
        a{
            color: $accent;
        }
    }

    &-entries{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        padding: $l;
    }

    &-region{
        margin-top: $l*2;

        &label{
            display: inline;
            color: $white;
            font-size: 1rem;
            margin-right: $l;
        }
    }
}
.entry{
    background: $trans-med;
	margin: $l 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 3px $trans-med;
    position: relative;


    &-background{
        width: 100%;
        height: 100%;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 1;
        z-index: -1;
    }
    &-place{
        font-size: 2rem;
        display: block;
        width: 64px;
        height: 64px;
        line-height: 64px;
        text-align: center;
        margin-right: $l*2;
    }
    &-name{
        font-size: 1.25rem;
        width: 15em;
        color: white;
    }
    &-link{
        color: $accent;
    }
    &-content{
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-position{
        position: absolute;
        top: 0;
        align-items: center;
        width: 100%;
        height: 100%;
        background: $trans-med;

        span{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: $font-bigger;
            color: $white;
        }
    }
    &-valuelabel{
        display: none;
        margin-right: $l*2;
        vertical-align: top;
        line-height:  $font-huge;

        @include medium{
            display: inline;
        }
    }
    &-value{
        display: inline;
        font-weight: bold;
        font-size:  $font-huge;
    }
    .playercard-image{
        @include medium{
            margin-right: $l*2;
        }
    }
    .playercard-name{
        max-width: 8em;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .playercard-content{
        flex-direction: row;
        align-items: center;

        @include medium{
            display: column;
        }
    }
    .playercard-center{
        flex: 0 0 auto;

        @include medium{
            flex: 1 0 auto;
        }
    }
    .playercard-right{
        display: none;

        @include medium{
            margin: 0;
            display: block;
        }
    }
}

.entry.is-top{

    .playercard-name{
        font-size: $font-bigger;
    }
    .playercard-image{
        width: 80px;
        height: 80px;
        margin-right: 0 !important; /* fight me */
    }

    &:nth-child(1){
        .entry-background{
            background-image: url(/assets/pattern_gold.svg);
        }
    }
    &:nth-child(2){
        .entry-background{
            background-image: url(/assets/pattern_silver.svg);
        }
    }
    &:nth-child(3){
        .entry-background{
            background-image: url(/assets/pattern_bronze.svg);
        }
    }
}

#chanky {
    width: 30px;
    position: absolute;
    left: 30px;
}
