@import "styles";

.search-form{

	width: 100%;
	margin: $l*2 auto;
	max-width: 90*$l;
	justify-content: center;
	flex: 0 0 auto;
	display: flex;
	height: 4*$l;
	box-shadow: 0 0 5px $trans-med;
	background: $trans-med;

	@include large{
		height: 5*$l;
	}
}
.search-input{
	flex: 1 1 auto;
	position: relative;

	>input{
		background: none;
		color: $white;
		padding: $l (2*$l);
		width: 100%;
		height: 100%;

		@include large{
			font-size: 1.25rem;
			height: 5*$l;
		}
		
		&:focus{
			outline: none;
		}

	}
	span{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 11*$l;
		display: inline-flex;
		flex-direction: row;
		vertical-align: top;
		align-items: center;
		label{
			margin: 0 0 0 .3em;
			font-size: 1rem;
			user-select: none;
			letter-spacing: -1px;
			color: darken($gray, 30%);
		}
		input{
			height: initial;
			width: initial;
			padding: 0;
			line-height: 1;
		}
	}
}
.search-submit{
	flex: 0 1 auto;
	padding: .5em 1em;
	border-radius: 1px;
	background: $primary;
	color: $white;
	cursor: pointer;

	@include large{
		flex: 0 0 auto;
		padding: .5em 3em;
	}
}